In [1]:
from atp_live_api import *

In [2]:
df = get_atp_live_dataframe()

#### Players which have been top 5:

In [3]:
df[df.career_high <= 5].loc[:, ('name', 'career_high')]

                      name  career_high
1              Andy Murray            1
2           Novak Djokovic            1
3            Stan Wawrinka            3
4            Roger Federer            1
5             Rafael Nadal            1
6             Milos Raonic            3
7            Kei Nishikori            4
10      Jo-Wilfried Tsonga            5
13           Tomáš Berdych            4
34            David Ferrer            3
35   Juan Martín del Potro            4
384          Tommy Robredo            5

#### Next generation of American players:

In [4]:
next_generation = get_future_stars(df, max_age=25, max_ranking=150)
next_generation[next_generation.country == 'USA'].loc[:, ('name', 'age')]

                 name   age
16          Jack Sock  24.5
50      Ryan Harrison  24.9
72    Jared Donaldson  20.4
88     Frances Tiafoe  19.2
91   Ernesto Escobedo  20.7
117  Bjorn Fratangelo  23.7
131      Taylor Fritz  19.4
134     Stefan Kozlov  19.1
139       Denis Kudla  24.6